@import 'variables.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $primary-color;
  font-family: 'Lato', 'Work Sans', sans-serif;

  background-image:linear-gradient(to top, $primary-color, $primary-color-low), url('../public/background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;

  a {
    position: relative;

    &::before {
      position: absolute;
      bottom: 0;
      content: '';
      height: 40%;
      width: 100%;
      border-radius: 5px 5px 0 0;
      transition: all .1s ease;
      background: rgba(255, 193, 193, 0.427);
    }

    &:hover {
      &::before {
        height: 100%;
      }
    }
  }
  .landing {
    padding: 5rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &Greeting {
      font-size: $primary-font-1;
    }

    &Desciption {
      font-size: $secondary-font-1;
    }

    &Social {
      margin-top: 0;
      font-size: $secondary-font-1;
    }

    &Secret {
      display: flex;
      flex-direction: column;
      font-size: $secondary-font-2;

      &Reveal {
        font-family: 'Lato', 'Work Sans', sans-serif;
        font-size: $secondary-font-2;
        width: fit-content;
        margin: 16px 0;
        background: transparent;
        border: none;
        padding: 0;
        outline: none;
      }

      &Message {
        opacity: 0;
        transform:translateY(100%);
        transition: all .2s ease;

        &[reveal=true] {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}