@import 'variables.module.scss';
@import '_colorThemes.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Lato', 'Work Sans', sans-serif;
  
  @include themed() {
    background: t('primary-color');
    background-image:linear-gradient(to top, t('primary-color'), t('primary-color-low-1')), url('../public/background.png');
  }

  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;

  a {
    position: relative;
    cursor: pointer;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      height: 40%;
      width: 100%;
      border-radius: 5px 5px 0 0;
      transition: all .1s ease;
      @include themed() {
        background: t('secondary-color-low-1');
      }
    }

    &:hover {
      &::after {
        height: 100%;
        @include themed() {
          background: t('secondary-color-low-2');
        }
      }
    }
  }

  .landing {
    padding: 5rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &Greeting {
      font-size: $primary-font-1;
    }

    &Desciption {
      font-size: $secondary-font-1;
    }

    &Social {
      margin-top: 0;
      font-size: $secondary-font-1;
    }

    &Secret {
      display: flex;
      flex-direction: column;
      font-size: $secondary-font-2;

      &Reveal {
        font-family: 'Lato', 'Work Sans', sans-serif;
        font-size: $secondary-font-2;
        width: fit-content;
        margin: 16px 0;
        background: transparent;
        border: none;
        padding: 0;
        outline: none;
      }

      &Message {
        opacity: 0;
        transform:translateY(100%);
        transition: all .2s ease;

        &[reveal=true] {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}