@import 'variables.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--primary-color);
  font-family: 'Lato', 'Work Sans', sans-serif;
  color: var(--primary-font-color);
  position: relative;

  background-image:linear-gradient(to top, var(--primary-color), var(--primary-color-low-1)), url('../public/background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;

  a {
    position: relative;
    cursor: pointer;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      height: 40%;
      width: 100%;
      border-radius: 5px 5px 0 0;
      transition: all .1s ease;
      background: var(--secondary-color-low-1);
    }

    &:hover {
      &::after {
        height: 100%;
        background: var(--secondary-color-low-2);
      }
    }
  }

  &Toggle {
    position: absolute;
    top: 3vh;
    right: 5vh;

    & > input {
      position: relative;
      width: 60px;
      height: 40px;
      appearance: none;

      @media (max-width: $mobile-width) {
        width: 50px;
        height: 30px;
      }

      display: flex;
      align-items: center;

      transition: all .8s ease-in-out;
      border-radius: 20px 10px 50px 20px;

      background-image: url('../public/theme/backgroundLight.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    input:checked {
      border-radius: 10px 20px 10px 50px;
      background-image: url('../public/theme/backgroundDark.png');
    }

    input:before {
      position: absolute;
      left: calc(-100% + 35px);
      content: '';
      width: 60px;
      height: 60px;

      transition: all .3s ease-in-out;
      border-radius: 50%;

      background-image: url("../public/theme/light.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 35px 35px;

      filter: drop-shadow(2px 2px 3px $toggle-shadow-color);

      @media (max-width: $mobile-width) {
        width: 40px;
        height: 40px;
        background-size: 25px 25px;
      }
    }

    input:checked::before {
      left: calc(100% - 35px);

      background: transparent;
      background-image: url("../public/theme/dark.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 35px 35px;

      filter: drop-shadow(-2px 2px 3px $toggle-shadow-color);

      @media (max-width: $mobile-width) {
        left: calc(100% - 25px);
        width: 40px;
        height: 40px;
        background-size: 25px 25px;
      }
    }
  }

  .landing {
    padding: 5rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &Greeting {
      font-size: $primary-font-1;
    }

    &Desciption {
      font-size: $secondary-font-1;
    }

    &Social {
      margin-top: 0;
      font-size: $secondary-font-1;
    }

    &Secret {
      display: flex;
      flex-direction: column;
      font-size: $secondary-font-2;

      &Reveal {
        position: relative;
        color: var(--primary-font-color);
        font-family: 'Lato', 'Work Sans', sans-serif;
        font-size: $secondary-font-2;
        width: fit-content;
        margin: 16px 0;
        background: transparent;
        border: none;
        padding: 0;
        outline: none;
        cursor: pointer;

        & > div {
          position: absolute;
          right: -3rem;
          top: -.5rem;

          transition: all .5s ease;
        }

        &:hover {
          & > div {
            opacity: 0;
          }
        }
      }

      &Message {
        opacity: 0;
        transform:translateY(100%);
        transition: all .2s ease;

        &[reveal=true] {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
